:root {
    --branding-color: #4B7196;
    --heading-font-family: 'Roboto', sans-serif;
    --secondary-color: #2F6BDB;
}

body {
    font-family: var(--heading-font-family);
    background: #1B1B1B;
}

h1, h2, h3 {
    font-family: var(--heading-font-family);
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 20px;
}

h2 {
    font-size: 26px;
    font-weight: normal;
}

h3 { font-size: 20px;
}

.hero {
    background: #1B1B1B;
    text-align: center;
    padding: 160px 20px;
}
.hero h1 {
    letter-spacing: 4px;
}

.btn-branding {
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    background: var(--branding-color);
    line-height: 27px;
    padding: 12px 18px;
    margin: 20px;

}
img.kira {
    padding: 10px;
    border-radius: 20px;
}


.about {
    padding: 20px;
    text-align: center;
    
}

 .description {
    color: #fff;
font-size: 16px;
 }

